In [1]:
import pandas as pd
import src.data_processor as new

In [2]:
# Leemos los csv existentes
df1_dict, df1_data, df_instructions, df2_data = new.read_data()

In [3]:
# Creamos un nuevo dataframe vacio para guardar los datos recodificados
df2_data_new = pd.DataFrame()
# Creamos un nuevo dataframe con la estructura diccionario de datos correspondiente a los datos recodificados
df2_dict_new = new.create_dict()
# Guardamos los indices y nombres de las columnas que no se pudieran procesar.
no_encontrado = {'name_column': [], 'id_column': []}

special_cols = [98, 99, 100, 163, 166, 167, 168, 181, 182, 183]
# Procesamos el renglon n
n = 10 #10 (edad)

print(f"\n----------------------------\nESTAMOS EN EL RENGLON DE INSTRUCCIONES: {n} - {df_instructions['code_fmed_completo'].iloc[n]}")

new_column_name, description_df1, description_df2,\
    description_final, value_options, options_updated,\
    actions, df1_column_name, df2_column_name, category = new.read_instructions(df_instructions, n)

value_options, actions = new.convert_to_dict(value_options, actions)

if df2_column_name in df2_data.columns:
    # Aplicamos las acciones y obtenemos las entradas que se agregaran como un nuevo renglon al diccionario
    code, description, options, category = new.apply_actions(df2_data, df2_data_new, new_column_name,
                                                             description_df1, description_df2, description_final,
                                                             value_options, options_updated, actions,
                                                             df1_column_name, df2_column_name, category)
    df2_dict_new = new.add_to_new_dict(df2_dict_new, code, description, options, category)
else:
    print(f"La variable {df2_column_name} en el renglon {n} no se encuentra en el dataframe original de datos de fmed")
    no_encontrado['name_column'].append(df2_column_name)
    no_encontrado['id_column'].append(n)

----------------------------
ESTAMOS EN EL RENGLON DE INSTRUCCIONES: 10 - edad_dx_enfermedades_cronicas
Numericos: 112
La columna es numerica y se podra encontrar un maximo y minimo

In [4]:
df2_dict_new

,category,campo_unificado,description,options
0,antecedentes_personales,edad_dx_diab_tipo2,¿Aproximadamente a que edad se diagnosticó la ...,"{'min': 0.0, 'max': 21.0}"

In [5]:
df2_data_new

     edad_dx_diab_tipo2
0                   NaN
1                   NaN
2                  17.0
3                   NaN
4                  16.0
..                  ...
839                 NaN
840                 NaN
841                 NaN
842                 NaN
843                 NaN

[844 rows x 1 columns]

In [6]:
s = df2_data_new['edad_dx_diab_tipo2']
counts = s.apply(type).value_counts()
print(counts)

<class 'float'>    844
Name: edad_dx_diab_tipo2, dtype: int64