In [77]:
import pandas as pd
import numpy as np

In [78]:
df_instruct = pd.read_csv("C:/Users/noeam/Documents/git/github/ssocial/data/instruccionesH7.csv")
df_2014_dict = pd.read_csv("C:/Users/noeam/Documents/git/github/ssocial/data/2014_diccionario.csv")

df_merged = pd.merge(df_2014_dict[['var']], df_instruct[['campo_unificado','code_2014']], left_on=['var'], right_on=['code_2014'], how='left').fillna('')
df_merged

             var campo_unificado code_2014
0        nac_dia  dia_nacimiento   nac_dia
1        nac_mes  mes_nacimiento   nac_mes
2       nac_anio  ano_nacimiento  nac_anio
3           edad
4      id_puesto
..           ...             ...       ...
983  rs2228314_C
984   rs738409_C
985  rs5768007_G
986           VI
987           VD

[988 rows x 3 columns]

In [79]:
df_2014_dict

,subcategoria,var,var_alias,description,5,6,is_category,values
0,Datos Personales,nac_dia,dia_nacimiento,Día,privado,abierta,False,"{'min': 1.0, 'max': 31.0}"
1,Datos Personales,nac_mes,mes_nacimiento,Mes,privado,abierta,False,"{'min': 1.0, 'max': 12.0}"
2,Datos Personales,nac_anio,ano_nacimiento,Año,privado,abierta,False,"{'min': 1933.0, 'max': 1995.0}"
3,Datos Personales,edad,edad_paciente,Edad del Paciente,visible,abierta,False,"{'min': 19.0, 'max': 81.0}"
4,Datos Personales,id_puesto,puesto_laboral,¿Qué puesto ocupas?,visible,options,True,{'options': {'1': 'INVESTIGADOR ASOCIADO C TIE...
...,...,...,...,...,...,...,...,...
983,Genética,rs2228314_C,rs2228314_C,Datos géneticos,NaN,NaN,True,{'is_category': 'true'}
984,Genética,rs738409_C,rs738409_C,Datos géneticos,NaN,NaN,True,{'is_category': 'true'}
985,Genética,rs5768007_G,rs5768007_G,Datos géneticos,NaN,NaN,True,{'is_category': 'true'}
986,VI,VI,VI,Variable Independiente creada a partir de Filtros,NaN,NaN,True,{'is_category': 'true'}
987,VD,VD,VD,Variable Dependiente creada a partir de Filtros,NaN,NaN,True,{'is_category': 'true'}

In [80]:
# EN TEORIA df_merged y df_2014_dict deben tener la misma cantidad de renglones (rows)
# Agregar la nueva columna al segundo dataframe
df_2014_dict['unificado'] = df_merged['campo_unificado']
"""df_2014_dict['unificadoooo'] = df_2014_dict['var']
for index, row in df_2014_dict.iterrows():
    print(index, row["var"])
    if df_merged.loc[index, 'var'] == row["var"]:
        new_code = df_merged.loc[df_merged["var"] == row["var"], "campo_unificado"].iloc[0]
    else:
        new_code = ""
    print(new_code)
    df_2014_dict['unificadoooo'][index] = new_code"""
df_2014_dict

,subcategoria,var,var_alias,description,5,6,is_category,values,unificado
0,Datos Personales,nac_dia,dia_nacimiento,Día,privado,abierta,False,"{'min': 1.0, 'max': 31.0}",dia_nacimiento
1,Datos Personales,nac_mes,mes_nacimiento,Mes,privado,abierta,False,"{'min': 1.0, 'max': 12.0}",mes_nacimiento
2,Datos Personales,nac_anio,ano_nacimiento,Año,privado,abierta,False,"{'min': 1933.0, 'max': 1995.0}",ano_nacimiento
3,Datos Personales,edad,edad_paciente,Edad del Paciente,visible,abierta,False,"{'min': 19.0, 'max': 81.0}",
4,Datos Personales,id_puesto,puesto_laboral,¿Qué puesto ocupas?,visible,options,True,{'options': {'1': 'INVESTIGADOR ASOCIADO C TIE...,
...,...,...,...,...,...,...,...,...,...
983,Genética,rs2228314_C,rs2228314_C,Datos géneticos,NaN,NaN,True,{'is_category': 'true'},
984,Genética,rs738409_C,rs738409_C,Datos géneticos,NaN,NaN,True,{'is_category': 'true'},
985,Genética,rs5768007_G,rs5768007_G,Datos géneticos,NaN,NaN,True,{'is_category': 'true'},
986,VI,VI,VI,Variable Independiente creada a partir de Filtros,NaN,NaN,True,{'is_category': 'true'},
987,VD,VD,VD,Variable Dependiente creada a partir de Filtros,NaN,NaN,True,{'is_category': 'true'},

In [33]:
# FUNCIONES ESPECIALES

def esp_163(df, column_name):
    # Create a new column to hold the recoded values
    new_column_name = column_name + "_recoded"
    df[new_column_name] = None

    # Define the conditions and values to recode
    conditions = [(df[column_name] < 10),
                  (df[column_name] >= 10) & (df[column_name] < 30),
                  (df[column_name] >= 30) & (df[column_name] < 50),
                  (df[column_name] >= 50) & (df[column_name] < 70),
                  (df[column_name] >= 70)]
    values = ["<10", "10-29", "30-49", "50-69", ">=70"]

    # Recode the values based on the conditions and values defined
    df[new_column_name] = pd.Series(np.select(conditions, values))

    return df

def esp_166_168(df, column_name):
    # Create a new column to hold the recoded values
    new_column_name = column_name + "_recoded"
    df[new_column_name] = None
    # Define the conditions and values to recode
    conditions = [(df[column_name]/4 >= 0) & (df[column_name]/4 < 50),
                  (df[column_name]/4 >= 50) & (df[column_name]/4 < 100),
                  (df[column_name]/4 >= 100) & (df[column_name]/4 < 200),
                  (df[column_name]/4 >= 200) & (df[column_name]/4 < 300),
                  (df[column_name]/4 >= 300)]
    values = ["0-49", "50-100", "100-200", "200-300", ">=300"]

    # Recode the values based on the conditions and values defined
    df[new_column_name] = pd.Series(np.select(conditions, values))

    return df

def esp_181_183(df, column_name1, column_name2):
    # Create a new column to hold the recoded values
    new_column_name = column_name1 + "_recoded"
    df[new_column_name] = None
    print(df[[column_name1, column_name2]])
    df[new_column_name] = df[[column_name1, column_name2]].mean(axis=1)
    # Define the conditions and values to recode
    conditions = [(df[new_column_name] >= 0) & (df[new_column_name] < 1),
                  (df[new_column_name] >= 1) & (df[new_column_name] < 2),
                  (df[new_column_name] >= 2) & (df[new_column_name] <= 3),
                  (df[new_column_name] >= 4) & (df[new_column_name] <= 5),
                  (df[new_column_name] >= 6) & (df[new_column_name] <= 8),
                  (df[new_column_name] > 8)]
    values = ["0", "1", "2-3", "4-5", "6-8", ">8"]

    # Recode the values based on the conditions and values defined
    df[new_column_name] = pd.Series(np.select(conditions, values))

    return df

      locout_act  rest_act
0              0         0
1              1         0
2              0         1
3              0         0
4              0         2
...          ...       ...
1070           0         1
1071           1         3
1072           0         5
1073           0         0
1074           0         2

[1075 rows x 2 columns]
      locout1  rest1
0           0      0
1           1      1
2           0      1
3           0      0
4           0      2
...       ...    ...
1070        0      1
1071        1      2
1072        0      5
1073        0      0
1074        0      2

[1075 rows x 2 columns]
      locout5  rest5
0           0      0
1           1      0
2           1      3
3           0      0
4           0      1
...       ...    ...
1070        0      1
1071        1      2
1072        0      5
1073        0      0
1074        0      2

[1075 rows x 2 columns]

In [ ]:
df = pd.read_csv("C:/Users/noeam/Documents/git/github/ssocial/data/2014_datos.csv")
# 6 variables especiales
df = esp_163(df, "por_obes")
df = esp_166_168(df, "cal_ref")
df = esp_166_168(df, "cal_agua")
df = esp_181_183(df, "locout_act", "rest_act")
df = esp_181_183(df, "locout1", "rest1")
df = esp_181_183(df, "locout5", "rest5")

In [34]:
new_df = df[['por_obes_recoded', 'cal_ref_recoded', 'cal_agua_recoded', 'locout_act_recoded', 'locout1_recoded', 'locout5_recoded']]
new_df

,por_obes_recoded,cal_ref_recoded,cal_agua_recoded,locout_act_recoded,locout1_recoded,locout5_recoded
0,30-49,0,0-49,0,0,0
1,>=70,0,0,0,1,0
2,0,0-49,0-49,0,0,2-3
3,50-69,0,0,0,0,0
4,0,0,0-49,1,1,0
...,...,...,...,...,...,...
1070,30-49,50-100,0-49,0,0,0
1071,0,0,0,2-3,1,1
1072,30-49,0-49,0-49,2-3,2-3,2-3
1073,50-69,100-200,0-49,0,0,0
1074,0,0,0-49,1,1,1