In [1]:
import pandas as pd

In [2]:
df_instructions = pd.read_csv("~/ServicioSocial/ssocial/data/instruccionesH3.csv")
df_instructions

,Unnamed: 0,campo_unificado,description_2014,description_fmed,code_2014,code_fmed,code_fmed_completo,options,acciones
0,0,dia_nacimiento,Día,fecha de nacimiento,nac_dia,a5,fecha_nacimiento,"{'min': 1.0, 'max': 31.0}",{'actions':['especial'] }
1,1,mes_nacimiento,Mes,fecha de nacimiento,nac_mes,a5,fecha_nacimiento,"{'min': 1.0, 'max': 12.0}",{'actions':['especial'] }
2,2,ano_nacimiento,Año,fecha de nacimiento,nac_anio,a5,fecha_nacimiento,"{'min': 1933.0, 'max': 1995.0}",{'actions':['especial'] }
3,3,fecha_nacimiento,Fecha de Nacimiento,fecha de nacimiento,NaN,a5,fecha_nacimiento,NaN,{'actions':['copy'] }
4,4,sexo,Sexo,sexo,id_sexo,a8,sexo,"{'options': {'F': 'FEMENINO', 'M': 'MASCULINO'...","{'actions':['recode'], 'recode': {'f':'F', 'm'..."
...,...,...,...,...,...,...,...,...,...
188,188,acido_urico,Acido urico,Acido urico,uric,acido_urico,acido_urico,"{'min': 1.6, 'max': 65.0}",{'actions':['copy'] }
189,189,creatinina,Creatinina,Creatinina,crs,creatinina,creatinina,"{'min': 0.0, 'max': 9.65}",{'actions':['copy'] }
190,190,ldl,Lipoproteína de baja densidad(Low density lipo...,Low density lipoprotein,ldlc_res,ldl,ldl,"{'min': -7.4, 'max': 1184.4}",{'actions':['copy'] }
191,191,hemoglobina_glucosilada,Hemoglobina glucosinala hb a1c,Hemoglobina glucosinala hb a1c,hba,hemoglobina_glucosilada,hemoglobina_glucosilada,"{'min': 0.0, 'max': 15.2}",{'actions':['copy'] }
192,192,insulina,Insulina basal,Insulina basal,insulina,insulina,insulina_basal,"{'min': 0.0, 'max': 63.2}",{'actions':['copy'] }

In [3]:
dict_fmed = pd.read_csv("~/ServicioSocial/ssocial/data/diccionarios/fmed_diccionario.csv")
dict_fmed.head(10)

,campo_original,campo_unificado,question,instrumento,seccion_instrumento,visibilidad,tipo_de_datos,options,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,fecha_encuesta,fecha_encuesta,Fecha de realizada la encuesta,encuesta,dattos_personales,visible,abierta,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,a1,cuenta,cuenta,encuesta,dattos_personales,public,abierta,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,a2,apellido_paterno,apellido paterno,encuesta,dattos_personales,privado,abierta,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,a3,apellido_materno,apellido materno,encuesta,dattos_personales,privado,abierta,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,a4,nombre,nombres,encuesta,dattos_personales,privado,abierta,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,a5,fecha_nacimiento,fecha de nacimiento,encuesta,dattos_personales,visible,abierta,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,a6,estado,lugar de procedencia,encuesta,dattos_personales,visible,abierta,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,a7,codigo_postal,codigo postal,encuesta,dattos_personales,visible,abierta,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,a8,sexo,sexo,encuesta,dattos_personales,visible,abierta,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,a9,estado_civil,estado civil,encuesta,dattos_personales,visible,opciones,a=soltero,b=casado/union libre,c=divorciado/separado,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_instructions_new = pd.DataFrame()
df_instructions_new['campo_unificado'] = df_instructions['campo_unificado']
df_instructions_new['description_2014'] = df_instructions['description_2014']
df_instructions_new['acciones'] = df_instructions['acciones']
df_instructions_new['options'] = df_instructions['options']
df_instructions_new['code_2014'] = df_instructions['code_2014']
df_instructions_new['code_fmed'] = df_instructions['code_fmed']
df_instructions_new

,campo_unificado,description_2014,acciones,options,code_2014,code_fmed
0,dia_nacimiento,Día,{'actions':['especial'] },"{'min': 1.0, 'max': 31.0}",nac_dia,a5
1,mes_nacimiento,Mes,{'actions':['especial'] },"{'min': 1.0, 'max': 12.0}",nac_mes,a5
2,ano_nacimiento,Año,{'actions':['especial'] },"{'min': 1933.0, 'max': 1995.0}",nac_anio,a5
3,fecha_nacimiento,Fecha de Nacimiento,{'actions':['copy'] },NaN,NaN,a5
4,sexo,Sexo,"{'actions':['recode'], 'recode': {'f':'F', 'm'...","{'options': {'F': 'FEMENINO', 'M': 'MASCULINO'...",id_sexo,a8
...,...,...,...,...,...,...
188,acido_urico,Acido urico,{'actions':['copy'] },"{'min': 1.6, 'max': 65.0}",uric,acido_urico
189,creatinina,Creatinina,{'actions':['copy'] },"{'min': 0.0, 'max': 9.65}",crs,creatinina
190,ldl,Lipoproteína de baja densidad(Low density lipo...,{'actions':['copy'] },"{'min': -7.4, 'max': 1184.4}",ldlc_res,ldl
191,hemoglobina_glucosilada,Hemoglobina glucosinala hb a1c,{'actions':['copy'] },"{'min': 0.0, 'max': 15.2}",hba,hemoglobina_glucosilada
192,insulina,Insulina basal,{'actions':['copy'] },"{'min': 0.0, 'max': 63.2}",insulina,insulina

In [7]:
# TEST para identificar la descripcion correspondiente a la variable 'a9'
item = dict_fmed.loc[dict_fmed["campo_original"] == "a9", "question"].item() #iloc[0]
print(type(item))
print(item)

<class 'str'>
estado civil

In [6]:
df_instructions_new['description_fmed'] = df_instructions['description_2014']
df_instructions_new['code_fmed_completo'] = df_instructions['campo_unificado']
df_instructions_new['subcategoria'] = df_instructions['campo_unificado']
for index, row in df_instructions_new.iterrows():
    #print(index, row["code_fmed"])
    description_fmed = dict_fmed.loc[dict_fmed["campo_original"] == row["code_fmed"], "question"].iloc[0]
    df_instructions_new['description_fmed'][index] = description_fmed
    new_code = dict_fmed.loc[dict_fmed["campo_original"] == row["code_fmed"], "campo_unificado"].iloc[0]
    df_instructions_new['code_fmed_completo'][index] = new_code
    subcategory = dict_fmed.loc[dict_fmed["campo_original"] == row["code_fmed"], "seccion_instrumento"].iloc[0]
    df_instructions_new['subcategoria'][index] = subcategory
    
df_instructions_new

,campo_unificado,description_2014,acciones,options,code_2014,code_fmed,description_fmed,code_fmed_completo,subcategoria
0,dia_nacimiento,Día,{'actions':['especial'] },"{'min': 1.0, 'max': 31.0}",nac_dia,a5,fecha de nacimiento,fecha_nacimiento,dattos_personales
1,mes_nacimiento,Mes,{'actions':['especial'] },"{'min': 1.0, 'max': 12.0}",nac_mes,a5,fecha de nacimiento,fecha_nacimiento,dattos_personales
2,ano_nacimiento,Año,{'actions':['especial'] },"{'min': 1933.0, 'max': 1995.0}",nac_anio,a5,fecha de nacimiento,fecha_nacimiento,dattos_personales
3,fecha_nacimiento,Fecha de Nacimiento,{'actions':['copy'] },NaN,NaN,a5,fecha de nacimiento,fecha_nacimiento,dattos_personales
4,sexo,Sexo,"{'actions':['recode'], 'recode': {'f':'F', 'm'...","{'options': {'F': 'FEMENINO', 'M': 'MASCULINO'...",id_sexo,a8,sexo,sexo,dattos_personales
...,...,...,...,...,...,...,...,...,...
188,acido_urico,Acido urico,{'actions':['copy'] },"{'min': 1.6, 'max': 65.0}",uric,acido_urico,Acido urico,acido_urico,laboratorio
189,creatinina,Creatinina,{'actions':['copy'] },"{'min': 0.0, 'max': 9.65}",crs,creatinina,Creatinina,creatinina,laboratorio
190,ldl,Lipoproteína de baja densidad(Low density lipo...,{'actions':['copy'] },"{'min': -7.4, 'max': 1184.4}",ldlc_res,ldl,Low density lipoprotein,ldl,laboratorio
191,hemoglobina_glucosilada,Hemoglobina glucosinala hb a1c,{'actions':['copy'] },"{'min': 0.0, 'max': 15.2}",hba,hemoglobina_glucosilada,Hemoglobina glucosinala hb a1c,hemoglobina_glucosilada,laboratorio
192,insulina,Insulina basal,{'actions':['copy'] },"{'min': 0.0, 'max': 63.2}",insulina,insulina,Insulina basal,insulina_basal,laboratorio

In [7]:
df_instructions_new.to_csv("~/ServicioSocial/ssocial/data/new_instruccionesH3.csv")